@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #FFFFFF;
  background:  #161616;
  font-family: "Chakra Petch";

}


.custom-btn {
  clip-path: polygon(10% 0%, 100% 0%, 100% 70%, 90% 100%, 0% 100%, 0% 30%);
}